body {
    background-color: beige;
}

.title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#subtitle {
    text-align: center;
}

.grid {
    border: solid black 1px;
    align-items: center;
    text-align: center;
}

img {
    margin: auto;
}

tr {

    width: 100%;
    height: 10px;
}
table {
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: solid black 1px;
    background-color: blanchedalmond;
}
td {
    background-color: white;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    border-radius: 100%;
}

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.arrowBtn {    
    margin: auto;
    width: 25px;
    height: 25px;
    background: url(./img/arrow-black.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.arrowBtn:hover {
    cursor: pointer;
    background: url(./img/arrow-white.svg);
    background-repeat: no-repeat;
}