body {
    background-color: beige;
}
table {
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: solid black 1px;
    box-shadow: 5px 5px #3f3f3f;
    background-color: blanchedalmond;
    border-spacing: 10px;
}
td {
    background-color: white;
    width: 60px;
    height: 60px;
    border: solid black 1px;
    border-radius: 100%;   
}
#subtitle {
    text-align: center;
}
.title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.arrowBtn {    
    margin: auto;
    width: 25px;
    height: 25px;
    background: url(./img/arrow-black.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
.arrowBtn:hover {
    cursor: pointer;
    background: url(./img/arrow-white.svg);
    background-repeat: no-repeat;
}